@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@theme {
  --color-darkblue: hsl(233, 26%, 24%);
  --color-limegreen: hsl(136, 65%, 51%);
  --color-brightcyan: hsl(192, 70%, 51%);
  --color-neutral-blue: hsl(233, 8%, 62%);
  --color-neutral-lightblue: hsl(220, 16%, 96%);
  --color-neutral-lightgray: hsl(0, 0%, 98%);
}

* {
  font-family: Public Sans, sans-serif;
}
